body,
html {
  margin: 0 !important;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.user-icon,
.bot-icon {
  border: solid black 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.bot-message,
.user-message {
  max-width: 60vw;
  display: flex;
  flex-direction: row;
  overflow-wrap: break-word;
  align-items: flex-end;
  margin-bottom: 10px;
}
.bot-message {
  justify-content: left;
}
.bot-message p .user-message p {
  font: 100;
}
.message-content {
  display: flex;
  padding: 1em;
  border: solid black 1px;
  border-radius: 1rem;
}
.message-play-btn {
  border-radius: 9999rem;
}

.chat-view {
  height: inherit;
  display: block;

  margin-right: 15vw;
}
.message-history {
  max-height: 80%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding: 1em;
  flex-direction: column-reverse;
}

h3 {
  margin-bottom: 0px !important;
}
.navbar {
  border-bottom: dashed black 1px;
  padding: 1em;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.navbar-brand {
  margin-left: 2vw;
}

.message-area {
  height: 40%;
  overflow-y: scroll;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
}

#record-btn {
  justify-content: center;
  border-radius: 3rem;
  display: block;
  width: auto;
  padding: 20px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#record-btn:active {
  background-color: #218838;
}

#settings-btn {
  background: black;
  border: solid black 1px;
  border-radius: 0.5rem;
  color: white;
  /*font-size: 24px;*/
  height: 2em;
  width: 2em;
}

#settings-btn:focus {
  outline: none;
}
button {
  margin: 0px;
}
